{% extends "layouts/admin.html" %}

{% block title %}
Edit User
{% endblock %}

{% block page_title %}
Edit User
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <div>

        <h2 class="fw-bold">

            Edit User

        </h2>

        <p class="text-muted">

            Update user information.

        </p>

    </div>

</div>

<form
    method="POST"
    enctype="multipart/form-data">

    {% include "admin/users/_form.html" %}

</form>

{% endblock %}
