<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">

    <div class="container">

        <a class="navbar-brand fw-bold text-primary" href="/">
            Apex Citizens of Ghana
        </a>

        <button class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbar">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbar">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Our Work</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Gallery</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Donate</a>
                </li>

                <li class="nav-item">
                    <a class="btn btn-primary ms-3" href="#">
                        Join Us
                    </a>
                </li>

            </ul>

        </div>

    </div>

</nav>